$black: #28313D;

$dark-red: #875A5C;
$darker-red: #6d484a;

$dark-orange: #A56A53;
$med-orange: #E0AE8F;
$light-orange: #FEF7C2;

$blue: #308CD8;

$dark-red-filter: invert(43%) sepia(18%) saturate(718%) hue-rotate(308deg) brightness(86%) contrast(94%);
$darker-red-filter: invert(33%) sepia(4%) saturate(3984%) hue-rotate(307deg) brightness(85%) contrast(85%);